{% extends "base.html" %}
{% block title %}Favourites{% endblock %}
{% block content %}
<h1>Favourites Page</h1>

     {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
         {% for category,message in messages %}
         {% if category == "success" %}
             <div class="alert alert-success mb-3 fade show" role="alert" id="alert-message">
                 {{ message }}
             </div>
         {% endif %}

         {% if category == "error" %}
             <div class="alert alert-danger mb-3 fade show" role="alert" id="alert-message">
                 {{ message }}
             </div>
         {% endif %}




         {% endfor %}

     {% endif%}
     {% endwith %}


<h1>{{ session["FirstName"] }}'s favourite activities:</h1>

<form action="{{ url_for('view_favourites_by_activity_type') }}" method="GET">
    <label for="activity_type">Filter By Type Of Activity:</label>
    <select name="activity_type" id="activity_type">
        <option value="all">All</option>
        <option value="education">Education</option>
        <option value="recreational">Recreational</option>
        <option value="social">Social</option>
        <option value="diy">Diy</option>
        <option value="charity">Charity</option>
        <option value="cooking">Cooking</option>
        <option value="relaxation">Relaxation</option>
        <option value="music">Music</option>
        <option value="busywork">Busywork</option>
    </select>
    <button type="submit">Filter</button>
</form>

<ul>
{% for activity_info in users_favourites %}
    <li>
        {{ activity_info[0] }} - no. of participants: {{ activity_info[1] }} - {{ activity_info[2] }} activity
        <form action="{{ url_for('delete_favourite', activity_id=activity_info[4]) }}" method="POST">
            <button type="submit">Delete</button>
        </form>
    </li>
{% endfor %}
</ul>
{% endblock %}


